.easterEgg {
    color: #DBF4A7;
    
}

.easterEgg:hover {
    color: red;
}

a.navLinks {
    display: inline-block;
    color: #F9F9ED;
    padding-right: 20px;
}

a.navLinks:hover {
    font-weight: bold;
}

.HQT {
    color: #F9F9ED;
}